.body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
}
.cell {
  width: 60px;
  height: 60px;
  background: aqua;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
.winner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
